<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let estudianteItem of misestudiantes">
      <ion-item>
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>
          <h2>Código: {{ estudianteItem.id }}</h2>
          <p>nombre: {{ estudianteItem.nombre }}</p>
          <p>nota: {{ estudianteItem.parcial1 }}</p>
          <p>nota: {{ estudianteItem.parcial2 }}</p>
          <p>nota: {{ estudianteItem.parcial3 }}</p>
          <p>nota: {{ estudianteItem.notafinal }}</p>


        </ion-label>
      </ion-item>
    
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="borrarEstudiantes(estudianteItem); $event.stopPropagation();">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        

        <ion-item-option routerLink="../editar-estudiantes/{{estudianteItem.id}}">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
