<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Formulario de materias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="materias" href="/tabs/materias">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Materias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Formulario estudiantes</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
