<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addEstudiante()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nuevoEstudiante.nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Parcial 1</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoEstudiante.parcial1" name="parcial1" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Parcial 2</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoEstudiante.parcial2" name="parcial2" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Parcial 3</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoEstudiante.parcial3" name="parcial3" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Añadir Estudiante</ion-button>
  </form>
</ion-content>