<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="guardarEstudiante()" #EstudianteForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre_estudiante:</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="estudiante.nombre" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Parcial 1:</ion-label>
        <ion-input type="text" name="parcial1" [(ngModel)]="estudiante.parcial1" (ngModelChange)="calcularNotaFinal()"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Parcial 2:</ion-label>
        <ion-input type="text" name="parcial2" [(ngModel)]="estudiante.parcial2" (ngModelChange)="calcularNotaFinal()"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Parcial 3:</ion-label>
        <ion-input type="text" name="parcial3" [(ngModel)]="estudiante.parcial3" (ngModelChange)="calcularNotaFinal()"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Nota Final:</ion-label>
        <ion-input type="text" [value]="estudiante.notafinal | number:'1.2-2'" readonly></ion-input>
      </ion-item>
    </ion-list>
  
    <ion-button color="primary" type="submit" [disabled]="!EstudianteForm.form.valid">
      Guardar
    </ion-button>
  </form>
  
</ion-content>


