<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="guardarMateria()" #materiaForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre de asignatura:</ion-label>
        <ion-input type="text" name="nombre_materia" [(ngModel)]="materia.nombre_materia" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Programa:</ion-label>
        <ion-select required [(ngModel)]="materia.programa" name="programa">
          <ion-select-option value="Ingeniería Informática">Ingeniería Informática</ion-select-option>
          <ion-select-option value="Ingeniería Multimedia">Ingeniería Multimedia</ion-select-option>
          <ion-select-option value="Desarrollo de Software">Desarrollo de Software</ion-select-option>
          <ion-select-option value="Diseño Visual">Diseño Visual</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Semestre: {{ materia.semestre }}</ion-label>
        <ion-range min="1" max="10" step="1" snaps="true" [(ngModel)]="materia.semestre" name="semestre">
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">10</ion-label>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Horario:</ion-label>
        <ion-input type="text" name="horario" [(ngModel)]="materia.horario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Salón:</ion-label>
        <ion-input type="text" name="salon" [(ngModel)]="materia.salon"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="primary" type="submit" [disabled]="!materiaForm.form.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>
