<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Estudiante</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="seleccionado">
  <form (ngSubmit)="editar(seleccionado)" #editarForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">ID:</ion-label>
        <ion-input aria-label="ID" type="text" readonly name="id" [(ngModel)]="seleccionado.id" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre estudiante:</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="seleccionado.nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nota Parcial 1:</ion-label>
        <ion-input type="number" name="parcial1" [(ngModel)]="seleccionado.parcial1" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nota Parcial 2:</ion-label>
        <ion-input type="number" name="parcial2" [(ngModel)]="seleccionado.parcial2" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nota Parcial 3:</ion-label>
        <ion-input type="number" name="parcial3" [(ngModel)]="seleccionado.parcial3" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nota Final:</ion-label>
        <ion-input type="number" name="notafinal" [(ngModel)]="seleccionado.notafinal" readonly></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="primary" type="submit" [disabled]="!editarForm.form.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>